@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap');

@import 'variables/colors';

@import 'components/button';
@import 'components/header';
@import 'components/switch';
@import 'components/home';
@import 'components/projects';
@import 'components/contact';
@import 'components/menu';
@import 'components/navbar';
@import 'components/footer';

* {
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
}
//Hide the google translate bar
// .goog-te-banner-frame.skiptranslate {
//     display: none !important;
// } 

body {
    min-width: 250px;
    // height: 100vh;
    background: linear-gradient(0deg, var(--body-bg_down) 0%, var(--body-bg_up) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text);
    transition: all ease .4s;
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;
    // scroll-padding: 80px;
    // top: 0px !important;//Hide the google translate bar

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        // scroll-snap-align: start;

    }
    
    
}

