section#projects {
    h2 {
        margin: 1rem;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 400px;
        background: var(--card);;
        color: var(--text);
        border-radius: 1rem;
        margin: 1rem 0;
        box-shadow: 2px 2px 5px #272635;
        
        &_image {
            position: relative;
            width: 100%;
            height: 50%;
            overflow: hidden;
            border-radius: 1rem 1rem 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover > img {
                width: 150%;
            }
            &:hover > .info {
                transform: translateY(0);
            }
            .info {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(15, 56, 0, .8);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 0;
                top: 0;
                transform: translateY(-110%);
                transition: all ease .4s;
                p {
                    text-align: justify;
                    padding: 1rem;
                }
            }
            img {
                width: 110%;
                transition: all ease .4s;
            }
        }
       

        &_description {
            width: 100%;
            height: 50%;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            ul {
                list-style-type: none;
                // inline-size: calc(100% - 2rem);
                margin: .5rem 0;
            }
        }
    }
    
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}