//colors
:root {
    --body-bg_up: #E8E9F3;
    --body-bg_down: #CEE1C6;
    --text: #0F3800;
    --primary: #E8E9F3;
    --green: #7CD15D; 
    --card: rgba(15, 56, 0, .2)
}
.dark_mode {
    --body-bg_up : #272635;
    --body-bg_down: #0F3800;
    --text: #E8E9F3;
    --primary: #0F3800;
    --card: rgba(232, 233, 243, 0.4)
}